# Dependencies
node_modules/
.pnp
.pnp.js

# Build Outputs
dist/
build/
bin/
gs-agent
beacon/gs-agent
*.exe
*.o
*.a
*.so
*.dll

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs & Temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.temp/
tmp/
